<div class="container">
  <div class="content">
    <p>
      P. J. Coatings LTD is a small paint spraying business on the outskirts of
      rotherham. We have over 15 years of experience with a wide range of
      products and a huge portfolio of work undertaken. We are proud to offer
      excellent paint finishing on time and efficiently
    </p>
    <p>
      We paint pretty much anything; furniture, signage, aluminium, pvc ,steel,
      etc... Whatever paint work you as the customer requires, you wont be
      disapointed here.
    </p>
    <p>
      As all jobs are different we provide individual quotes for each job,
      including some vehicle work.
    </p>
  </div>
  <div class="image">
    <img src="../../assets/images/conservatory_after.jpg" />
  </div>
</div>
