<div class="container">
  <div class="image">
    <img src="../../assets/images/conservatory_after.jpg" />
  </div>
  <div class="content">
    <p>
      P. J. Coatings LTD is a small paint spraying business on the outskirts of
      Rotherham, South Yorkshire. We have over 15 years of experience, with a
      wide range of products and a huge portfolio of work undertaken. We are
      proud to offer excellent paint finishing on time and efficiently
    </p>
    <p>
      We paint pretty much anything; furniture, signage, aluminium, pvc, steel,
      etc...
    </p>
    <p>
      Whatever your paintwork needs are just get intouch for a no obligation
      free quote. You won't be disappointed with the high standard and quality
      of work provided.
    </p>
    <p>
      As all jobs are different we provide individual quotes for each job,
      including some vehicle work.
    </p>
  </div>
</div>
