.content {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  margin: 0;
  border-radius: 0.2rem;
  background-color: #eee;

  p {
    text-align: justify;
  }
}

.image {
  display: flex;
  margin-top: 1rem;
  border-radius: 0.2rem;

  img {
    max-width: 100%;
  }
}
