<div class="container">
  <div class="content">
    <div class="contact-type">
      <span class="label">
        Address:
      </span>
      <address></address>
    </div>
    <div class="contact-type">
      <span class="label">Email: </span>
      <a class="value" rel="ugc" href="mailto:pjcoatings@gmail.com"
        >pjcoatings@gmail.com</a
      >
    </div>
    <div class="contact-type facebook">
      <social-media-button
        [icon]="faFacebookSquare"
        [iconColour]="facebookIconColour"
      ></social-media-button>
    </div>
  </div>
</div>
