.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 100%;

  .contact-type {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.2rem;

    .label {
      min-width: 4.5rem;
    }
  }

  .facebook {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }
}
@media only screen and (min-width: 600px)
{
  .container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    min-width: 100%;
    
    .facebook{
      justify-content: center;
    }
  }
}