<nav>
  <div class="menu" [hidden]="!show">
    <div class="menu-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      (click)="onMenuItemClick()">
      Home
    </div>
    <hr />
    <div class="menu-link" [routerLink]="['/about']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" (click)="onMenuItemClick()">
      About
    </div>
    <hr />
    <div class="menu-link" [routerLink]="['/contact']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" (click)="onMenuItemClick()">
      Contact
    </div>
  </div>
</nav>