<div class="menu" [hidden]="!show">
  <div
    class="menu-link"
    [routerLink]="['']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="onMenuItemClick()"
  >
    home
  </div>
  <hr />
  <div
    class="menu-link"
    [routerLink]="['/testimonials']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="onMenuItemClick()"
  >
    Testimonials
  </div>
  <hr />
  <div
    class="menu-link"
    [routerLink]="['/gallery']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="onMenuItemClick()"
  >
    Gallery
  </div>
  <hr />
  <div
    class="menu-link"
    [routerLink]="['/contact']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="onMenuItemClick()"
  >
    Contact
  </div>
</div>
