.socialMediaButtons {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  padding-right: 0.4rem;
  border-color: #bbb;
  background-color: #000;
  color: #bbb;
  height: 100%;

  a,
  :any-link {
    padding-bottom: 0.1rem;
    font-size: 1.25rem;

    color: #bbb;
  }
}
