.container {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border-radius: 0.2rem;
  padding: 0.2rem;

  h5 {
    display: flex;
    margin: 0;
    padding-bottom: 0.1rem;
  }

  .container-rows {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;

    .container-row {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        margin-top: 1em;
        font-size: 0.75em;
        margin-right: 0.25rem;
        margin-top: 0.25rem;
      }

      input {
        display: flex;
        margin-right: 0.25rem;
        border-radius: 0.2rem;
        border-style: solid;
        border-width: 0.1rem;
      }

      input.name-input {
        width: 7.5em;
      }
    }

    .number-container {
      flex-grow: 1;

      input.number-input {
        flex-grow: 1;
      }
    }
  }

  button {
    margin-left: 0.25rem;
    border-radius: 5rem;
    background-color: #bbb;
  }

  button:hover {
    background-color: #333;
    color: #aaa;
  }
}
