.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eeeeee;
  justify-content: space-between;
}

.header-component {
  display: flex;
  flex-direction: column;
}

.body-component {
  display: flex;
  flex-grow: 1;
}

.footer-component {
  display: flex;
  flex-direction: row-reverse;
  min-height: 1.5rem;
  background-color: black;
}
