.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: yellow;
  justify-content: space-between;
}

// .siteHeader {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   background-color: #333333;
//   color: #bbb;
//   min-height: 2rem;
//   padding-top: 0.5rem;
// }

.siteHeader {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #333;
  color: #bbb;
  margin: 0;
  padding: 0;
  justify-content: center;
  min-height: 3rem;
}

.title {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  font-size: 1.25rem;
}

.socialMeidaButtons {
  display: flex;
  flex-direction: column;
  justify-self: right;
  justify-content: center;
  padding: 1rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: lightblue;
  color: #333;
}

.navToggleMob {
  display: flex;
  flex-direction: column;
  justify-self: left;
  justify-content: center;
  padding: 1rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: red;
}
