<h1 hidden>Home</h1>
<div class="container">
  <div class="content">
    <div class="heading">
      <h3>Welcome to P. J. Coatings Ltd.</h3>
      <h4>We paint anything and everything!</h4>
    </div>

    <before-after beforeFilename='KitchenBefore.jpg' afterFilename='KitchenAfter.jpg'></before-after>
    <before-after beforeFilename='Panels_before.jpg' afterFilename='Panels_after.jpg'></before-after>
    <before-after beforeFilename='House2_Before.jpg' afterFilename='House2_After.jpg'></before-after>

    <div class="contact" [routerLink]="['/contact']">
      Contact us for a quote
    </div>
  </div>
</div>