.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 1;
 
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 100vw;
    
    div.heading {
      display: flex;
      flex-direction: column;
      margin: 0.5rem;
      border-radius: 0.2rem;
      margin-bottom: 0.25rem;
      width: 100%;
      align-items: center;

      h3,
      h4 {
        margin: 0;
      }

      h3 {
        padding-bottom: 0.5rem;
      }
    }
  }

  .contact {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
  }
}
